<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA4BuyWQ6XFo55a_kQ4GPc5sAylNdk4kR0</string>
	<key>GCM_SENDER_ID</key>
	<string>875280985769</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.vcV1</string>
	<key>PROJECT_ID</key>
	<string>volunteer-connect-4664c</string>
	<key>STORAGE_BUCKET</key>
	<string>volunteer-connect-4664c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:875280985769:ios:71407756299bf4927dc3b8</string>
</dict>
</plist>